<div class="col-xs-11 setposition" ng-controller="blockchaintrackingController"  >
    <div class="tab-content">
                <div class="tab-pane fade in active"> 
                        <div style="overflow: hidden;">
                                <div class="col-xs-4 pull-left">
                                    <div class="padding-clear">
                                    <div class="heading-text">
                                        <h3>Shipment number</h3>
                                    </div>
                                    <div class="trace-shipment-section" id="">
                                        456734
                                    </div>
                                </div>
                            
                                </div>
                                <div class="col-xs-4 pull-left">
                                    <div class="padding-clear">
                                    <div class="heading-text">
                                        <h3>Supplier Name</h3>
                                    </div>
                                    <div class="trace-shipment-section" id="">
                                        ABC Chemicals
                                    </div>
                                </div>
                                </div>
                                <div class="col-xs-4 pull-left">
                                    <div class=" padding-clear">
                                    <div class="heading-text">
                                        <h3>Material Name</h3>
                                    </div>
                                    <div class="trace-shipment-section" id="">
                                        PMDI
                                    </div>
                                </div>
                                </div>
                        </div>
                            
                        <div style="width:97.3%;margin-left:15px; margin-top:10px;height:500px;background-color:white;" >
                            <img src='../image/Path 77.png' height="270px" width="100%"/>
                            <div style="width:90%;margin-left:80px;margin-top:-240px" class="bgimg">
                                    <img src="/image/MANUFACTURER.png" alt="Oops" class="scimginrow"/> 
                                    <img src="/image/SHIPMENT3.png" alt="Oops" class="scimginrow truck"/>       
                                    <img src="/image/LOADING PORT.png" alt="Oops" class="scimginrow"/>              
                                    <img src="/image/SHIPMENT2.png" alt="Oops" class="scimginrow" />               
                                    <img src="/image/LOADING PORT.png" alt="Oops" class="scimginrow"/>
                                    <img src="/image/SHIPMENT3.png" alt="Oops" class="scimginrow truck"/>
                                    <img src="/image/CUSTOMER.png" alt="Oops" class="scimginrow"/>
                                   </div>
                       
                                   <div style="width:90%;margin-left:80px;" class="bgimg">
                                       <img src="/image/Dot_green.png" alt="Oops" class="dots" /> <hr  class="whiteline">
                                       <img src="/image/Dot_green.png" alt="Oops"  class="dots"/> <hr  class="whiteline">
                                       <img src="/image/Dot_green.png" alt="Oops"  class="dots"/> <hr  class="whiteline">
                                       <img src="/image/Dot_green.png" alt="Oops"  class="dots" id='tx4' /> <hr  class="whiteline">
                                       <img src="/image/Dot3.png" alt="Oops"  class="dots"/> <hr  class="whiteline">
                                       <img src="/image/Dot3.png" alt="Oops"  class="dots"/> <hr  class="whiteline">
                                       <img src="/image/Dot3.png" alt="Oops"  class="dots"/> 
                                   </div>
                       
                                   <div style="width:90%;margin-left:80px;" class="bgimg">
                       
                                                <lable class="sclabel">MANUFACTURER</lable>
                                                <lable  class="sclabel">SHIPMENT</lable>
                                                <lable  class="sclabel">LOADING PORT</lable>
                                                <lable  class="sclabel">SHIPMENT</lable>
                                                <lable  class="sclabel">UNLOADING PORT</lable>
                                                <lable  class="sclabel">SHIPMENT</lable>
                                                <lable  class="sclabel">CUSTOMER</lable>
                                                
                                          
                                            </div>
                                            
                                                    <img src="/image/Dot_green.png" alt="Oops"  class="gdots" id='tranaction1' /> 
                                                    <img src="/image/Dot_green.png" alt="Oops"  class="gdots" id='tranaction2'/> 
                                                    <img src="/image/Dot_green.png" alt="Oops"  class="gdots" id='tranaction3'/> 
                                                    <img src="/image/Dot_green.png" alt="Oops"  class="gdots" id='tranaction4'/> 
                                                    <img src="/image/Dot3.png" alt="Oops"  class="gdots" id='tranaction5'/> 
                                                    <img src="/image/Dot3.png" alt="Oops"  class="gdots" id='tranaction6'/> 
                                                    
                                                
                                                <div style="width:90%;margin-left:80px;" >
                                                        <div class="rectangle"><H2 style="margin-top:5px;margin-bottom:5px;">TX1</H2><span>Handover<br> from manufacturer to Haulier</span><span style="color:maroon;text-align:center;display:block">0xf8bd2ae8d638d6</span>
                                                            <span style="color:maroon;text-align:center;display:block">1626fe9820cd2c</span>
                                                            <span style="color:maroon;text-align:center;display:block">cc9fe6a81101</span></div>
                                                        <div class="rectangle"><H2 style="margin-top:5px;margin-bottom:5px;">TX2</H2><span>Handover from Haulier to Shipping Line at Port</span><span style="color:maroon;text-align:center;display:block">0xf8bd2ae8d638d6</span>
                                                            <span style="color:maroon;text-align:center;display:block">1626fe9820cd2c</span>
                                                            <span style="color:maroon;text-align:center;display:block">cc9fe6a81101</span></div>
                                                        <div class="rectangle"><H2 style="margin-top:5px;margin-bottom:5px;">TX3</H2><span>Handover<br> from Shipping Line at Port to Vessel</span><span style="color:maroon;text-align:center;display:block">0xf8bd2ae8d638d6</span>
                                                            <span style="color:maroon;text-align:center;display:block">1626fe9820cd2c</span>
                                                            <span style="color:maroon;text-align:center;display:block">cc9fe6a81101</span></div>
                                                        <div class="rectangle"><H2 style="margin-top:5px;margin-bottom:5px;">TX4</H2><span>Handover from Vessel to Shipping Line at Port</span><span style="color:maroon;text-align:center;display:block">0xf8bd2ae8d638d6</span>
                                                            <span style="color:maroon;text-align:center;display:block">1626fe9820cd2c</span>
                                                            <span style="color:maroon;text-align:center;display:block">cc9fe6a81101</span></div>
                                                        <div class="rectangle"><H2 style="margin-top:5px;margin-bottom:5px;">TX5</H2><span>Handover<br> from Shipping Line at Port to Haulier</span><span style="color:maroon;text-align:center;display:block">0xf8bd2ae8d638d6</span>
                                                            <span style="color:maroon;text-align:center;display:block">1626fe9820cd2c</span>
                                                            <span style="color:maroon;text-align:center;display:block">cc9fe6a81101</span></div>
                                                        <div class="rectangle"><H2 style="margin-top:5px;margin-bottom:5px;">TX6</H2><span>Handover<br> from Haulier to Customer (Client)</span><span style="color:maroon;text-align:center;display:block">0xf8bd2ae8d638d6</span>
                                                            <span style="color:maroon;text-align:center;display:block">1626fe9820cd2c</span>
                                                            <span style="color:maroon;text-align:center;display:block">cc9fe6a81101</span></div>
                                                        
                                                </div>
                                            </div>
                                                     </div>
                </div>
        </div>
</div>
  
