
<div class="container" ng-controller="UserProfileController">
<div class="col-lg-12">
       <h2 class="page-header topheadline" id="titleCRO">
            {{name}} Profile</h2>
</div>
        <div class="col-lg-12 col-md-12 labelstylebg">
            <div class="col-lg-4 col-md-4" style="padding-top:10px;">
                <span class="labelstyle">Company Name</span> </div>
            <div class="col-lg-8 col-md-8">
                <span class="form-control labelstylevalue" name="companyname" id="companyname" ng-bind="profiledata.companyname" >
            </div>
        </div>     

<div class="col-lg-12 col-md-12 labelstylebg">
            <div class="col-lg-4 col-md-4" style="padding-top:10px;"><span class="labelstyle">Registered On</span> </div>
            <div class="col-lg-8 col-md-8">
                <span class="form-control labelstylevalue" name="registeredon" id="registeredon" ng-bind="profiledata.registeredon" >
           </div>
        </div>
        <div class="col-lg-12 col-md-12 labelstylebg">
            <div class="col-lg-4 col-md-4" style="padding-top:10px;"><span class="labelstyle">Location</span> </div>
            <div class="col-lg-8 col-md-8">
                <span class="form-control labelstylevalue" name="location" id="location" ng-bind="profiledata.location" >
            </div>
        </div>
        <div class="col-lg-12 col-md-12 labelstylebg">
            <div class="col-lg-4 col-md-4" style="padding-top:10px;"><span class="labelstyle">Address</span> </div>
            <div class="col-lg-8 col-md-8">
                <span class="form-control labelstylevalue" name="address" id="address" ng-bind="profiledata.address" >
            </div>
        </div>
        <div class="col-lg-12 col-md-12 labelstylebg">
            <div class="col-lg-4 col-md-4" style="padding-top:10px;"><span class="labelstyle">Contact Information</span> </div>
            <div class="col-lg-8 col-md-8">
                <span class="form-control labelstylevalue" name="phone" id="phone" ng-bind="profiledata.phone" >
            </div>
        </div>
       <div class="col-lg-12 col-md-12 labelstylebg">
            <div class="col-lg-4 col-md-4" style="padding-top:10px;"><span class="labelstyle">Balance Amount (USD)</span> </div>
            <div class="col-lg-8 col-md-8">
                <span class="form-control labelstylevalue" name="balance" id="balance" ng-bind="profiledata.balance" >
            </div>
        </div>
        
        </div> 
</div>
